/* || RESETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || VARIABLES */
:root{
    --font-size: clamp(1rem, 2vh, 1.2rem);
    --font-size-large: clamp(1.2rem, 3vh, 1.5rem);

    /* COLOR */
    --primary-color: rgb(141, 3, 210);
    --bg-color: var(--primary-color);
    --tertiary-color: orange;
    --white: rgb(232, 230, 230);

    /* PADDING */
    --header-padding: .8rem;
    --padding: 1rem;
    --padding-small: .5rem;
    --padding-tb: .7rem;
    --section-padding-top: 48px;
    --section-padding-bottom: 48px;

    /* WIDTH */
    --section-max-width: 900px;


    /* ANIMATION */
    --animation-duration-long: 1s;
    --animation-duration-short: .25s;
    --animation-duration-very-short: .25s;
    --animation-duration: .5s;

    --transition-duration: .5s;

    /* BORDER */
    --border-radius: 8px;
    --border-radus-L: 1rem;
}

/* || GENERAL STYLES */
html{
    scroll-behavior: smooth;
    font-family: Helvetica;
    font-size: var(--font-size);
}
h2, h3{
    margin-bottom: 10px;
}
p{
    line-height: 20px;
    margin-bottom: 10px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
}
button{
    border-radius: var(--border-radius);
    color: var(--white);
    font-weight: 600;
    border: none;
    transition: var(--transition-duration);
    padding: 1rem 3rem;
    font: inherit;
    font-weight: bold;
}
button:hover{
    opacity: .8;
    transform: translateY(-5px);
}
body{
    padding-bottom: 1000px;
    height: 100vh;
}
/* || UTILITY */
.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    /* border: 1px dashed wheat; */
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}
.card{
    width: min(100%, 300px);
    padding: .7em;
    border-radius: var(--border-radius);
    /* background-color: rgba(219, 213, 222, 0.584); */
    box-shadow: 0 0 5px rgba(156, 154, 154, 0.795);
}
.max-width{
    max-width: var(--section-max-width);
    margin: auto;
}
/* || UTILITY ENDS*/

/* MODIFIER */
.center-items--column{
    flex-direction: column;
}
.center-items--space-between{
    justify-content: space-between;
}
.section--padding-top{
    padding-top: 5rem;
}
/* MODIFIER ENDS */

/* \\\\\\\\\\\\\\\\\\\\\\ Header \\\\\\\\\\\\ */
/* BLock */
.header{
    background-color: var(--bg-color);
    color: var(--white);;
    padding: var(--header-padding);
    font-size: var(--font-size);
    display: flex;
}
/* MODEL */
.header__section{
    justify-content: space-between;
    width: 100%;
}
.header__h2 a{
    color: var(--white);;
    text-decoration: none;
}
.header__nav{
    /* background-color: red; */
    flex: 1;
    max-width: 400px;
    align-self: center;
    margin: auto;
}
.header__ul{
    /* background-color: red; */
    list-style-type: none;
}
.header__a:any-link{
    color: var(--white);
    font-size: var(--font-size);
    text-transform: uppercase;
    font-weight: 600;
    transition: var(--animation-duration-short);
    padding: var(--padding-tb);
}
.header__a:hover{
    background-color: var(--white);;
    color: var(--primary-color);
    border-radius: var(--border-radius);
}
.header__section > a {
    background-color: var(--tertiary-color);
    border-radius: var(--border-radius);
}
.header__button{
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    display: none;
    padding: 0;
}
.header__button:hover{
    transform: none;
    opacity: 1;
}
.header__button.hover{
    transform: none;
    opacity: 1;
    rotate: 360deg;
}
.header__humbuger{
    width: 100%;
    height: 4px;
    background-color: var(--white);
    position: absolute;
    border-radius: 5px;
}
.humbuger-top,
.humbuger-middle,
.humbuger-bottom{
    transition: var(--transition-duration);
}
.humbuger-top{
    transform: translateY(-10px);
}
.humbuger-middle{
    transform: translateY(0);
}
.humbuger-bottom{
    transform: translateY(10px);
}
.header__button.hover .humbuger-middle{
    opacity: 0;
}
.header__button.hover .humbuger-top{
    transform: rotate(-45deg);
}
.header__button.hover .humbuger-bottom{
    transform: rotate(45deg);
}

/* /////////////////////  HERO ////////////// */
/* || BLOCK */
.hero{
    background-color: var(--primary-color);
    color: var(--white);
    height: min(100vh, auto);
    border-bottom-right-radius: 350px;
}
/* || MODEL */
.hero__div{
    /* background-color: blue; */
    gap: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 2rem;
}
.hero__figure{
    width: min(100%, 400px);
}
.hero__details{
    /* background-color: #fff; */
    flex: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero__h1{
    font-size: clamp(2rem, 5vh, 3rem);
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 20px;
}
.hero__p{
    margin-bottom: 30px;
}
.hero__a{
    padding: var(--padding-small) 2rem;
    background-color: var(--tertiary-color);
    border-radius: var(--border-radius);
    color: var(--white);
    font-weight: 600;
    transition: var(--transition-duration)
}
.hero__a:hover{
    transform: translateY(-5px);
}
.hero__details,
.hero__figure{
    /* background-color: red; */
    height: 400px;
}
.hero_div > div{
    padding: 1rem;
    background-color: red;
    height: 70px;
    width: 100px;
}
/* model */


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\  SERVICE */
.service__h2, 
.service__p,
.service__card-details{
    text-align: center;
}
.service__card-cont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 16px;
    /* background-color: blue; */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
.service__card-wrapper{
    display: flex;
    align-items: flex-start;
}
.service__card{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;   
    row-gap: 24px; 
    max-width: 400px;
    position: relative;
}
.service__card::after{
    content: '';
    bottom: 0;
    right: 0;
    width: 40%;
    background-color: rgba(184, 165, 186, 0.234);
    position: absolute;
    height: 40%;
    border-top-left-radius: 100px;
    /* z-index: -1; */
    transition: var(--transition-duration);
}
.service__card-wrapper:hover .service__card::after{
    animation: fillGradually ease-in-out var(--animation-duration-very-short) forwards;
    background-color: var(--bg-color);
}
.service__card-wrapper:hover{
    color: var(--white);
}
.service__card-wrapper:hover img{
    filter:invert()
}
@keyframes fillGradually {
    from {
        width: 40%;
        height: 40%;
    }
    to {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: var(--bg-color);
        z-index: -1;
    }
}
.service__card .img-cont{
    width: min(100%, 70px);
    /* background-color: red; */
}
.service__card-details{
    row-gap: .5rem;
}
.service__card a:any-link{
    color: inherit;
}
.service__button{
    background-color: var(--bg-color);
}





@media screen and (max-width: 760px){
    .header__ul, 
    .header__a {
        display: none;
    }
    .header__button{
        display: inline;
    }
    .header__ul.active{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        animation: dropSmoothly var(--animation-duration) ease-out  forwards;
        width: 100%;
    }
    .header__ul.active li a{
        display: block;
    }
    .hero{
        height: auto;
        padding-bottom: 5rem;
        border-bottom-right-radius: 300px;
    }
    .hero__div{
        flex-direction: column;
        /* padding: 0; */
        height: auto;
    }
    .hero__figure{
        width: clamp(90%, 80vw, 500px);
        height: 95%;
    }
    .hero__details{
        max-width: 100%;
    }
    .service__card-cont{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px){
    .hero__div{
        padding: .5rem;
    }
    .hero{
        border-bottom-right-radius: 200px;
    }
}
@media screen and (max-width: 573px) {
    .service__card-cont{
        grid-template-columns: 1fr;
    }
}

@keyframes dropSmoothly {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

